<div class="visit-country">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading text-center">
          <h2>INFORMATION</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="items">
          <div class="row">
            {{#each events}}
            <div class="col-lg-12">
              <div class="item">
                <div class="row">
                  <div class="col-lg-4 col-sm-5">
                    <div class="image">
                      <img src="assets/images/{{this.dataValues.image}}" alt="">
                    </div>
                  </div>
                  <div class="col-lg-8 col-sm-7">
                    <div class="right-content">
                      <h4 style="color: black;">{{this.dataValues.titleen}}</h4>
                      <p class="description text-justify" id="description-{{@index}}">{{this.dataValues.descriptionen}}</p>
                      <button class="btn btn-link" style="color: #d4762c;" onclick="toggleDescription({{@index}})">Muat Lebih Banyak</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>